<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-nativeappability"
        version="0.4.2">
    
    <name>nativeAppAbility</name>
    
    <description>This plugin for Cordova, it provodes you the native app operation abilities for (iOS) and (Android).</description>
    
    <keywords>Cordova,plugin,app,native,installed,URIScheme,URI,Scheme,PackageName,Package,Name,iOS,Android</keywords>
    
    <repo>https://github.com/playwbj/NativeAppAbility</repo>
    <issue>https://github.com/playwbj/NativeAppAbility/issues</issue>
    
    <license>Apache License 2.0</license>
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    
    <js-module src="www/nativeAppAbility.js" name="nativeAppAbility">
        <clobbers target="nativeAppAbility" />
    </js-module>
    
    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="nativeAppAbility">
                <param name="ios-package" value="NativeAppAbility" />
            </feature>
        </config-file>        
        
        <source-file src="src/ios/NativeAppAbility.swift" />
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
    </platform>
    
    <!-- Android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="nativeAppAbility">
                <param name="android-package" value="com.wingconn.NativeAppAbility" />
            </feature>
        </config-file>
        
        <source-file src="src/android/NativeAppAbility.java" target-dir="src/com/wingconn" />
    </platform>
    
</plugin>
